@charset "utf-8";
/*------------------------------------*\
    $RESET
    \*------------------------------------*/
    /* A more considered reset; more of a restart... As per: csswizardry.com/2011/10/reset-restarted */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
    a, abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strong, sub, sup, tt, var,
    b, u, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
    }
    article, aside, details, figcaption, figure, footer,
    header, hgroup, menu, nav, section {
        display: block;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    strong, b, mark {
        font-weight: bold;
        font-style: inherit;
    }
    em, i, cite, q, address, dfn, var {
        font-style: italic;
        font-weight: inherit;
    }
    abbr[title], dfn[title] {
        cursor: help;
        border-bottom: 1px dotted;
    }
    ins {
        border-bottom: 1px solid;
    }
    a, u, ins {
        text-decoration: none;
    }
    del, s {
        text-decoration: line-through;
    }
    pre, code, samp, kbd {
        font-family: monospace;
    }
    small {
        font-size: 0.75em;
    }
    img {
        border: none;
        font-style: italic;
    }
    input,
    select, option, optgroup,
    textarea {
        font: inherit;
    }





/*------------------------------------*\
    $MAIN
    \*------------------------------------*/
    html {
        background-color: #E6E6E6;
        color: #444;
        font: 12px/1.5 monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    body {
        margin: 10%;
    }

    .avatar {
        float: left;
        margin: 0 40px 20px 0;
    }
    .avatar img {
        max-width: 250px;
        max-height: 250px;
        border-radius: 20px;
        -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
        -moz-box-shadow: rgba(0,0,0,.3) 0 3px 5px;
        border-color: #a2a2a2\9;
    }

    .content {
        float: left;
        width: 450px;
    }
    .title {
        font-size: 48px;
        font-weight: normal;
        line-height: 1;
    }

    .social-icons li {
        display: inline;
    }
    .social-icons a {
        display: inline-block;
        margin-right: 10px;
        font-size: 24px;
        /*text-indent: -9999px;*/
    }
    .twitter {
        background-image: url(../img/twitter.png);
        width: 20px;
        height: 17px;
    }
    .facebook {
        background-image: url(../img/facebook.png);
        width: 10px;
        height: 19px;
    }
    .googleplus {
        background-image: url(../img/googleplus.png);
        width: 21px;
        height: 19px;
    }
    .dribbble {
        background-image: url(../img/dribbble.png);
        width: 21px;
        height: 19px;
    }
    .instagram {
        background-image: url(../img/instagram.png);
        width: 20px;
        height: 19px;
    }
    .flickr {
        background-image: url(../img/flickr.png);
        width: 20px;
        height: 9px;
    }





/*------------------------------------*\
    $TYPOGRAPHY
    \*------------------------------------*/
    p,
    ul, ol, dl,
    .title {
        margin-bottom: 20px;
    }
    p {
        font-weight: bold;
    }
    ul, ol, dl {
        list-style-type: none;
    }
    a {
        color: #0097B7;
        font-weight: bold;
    }
    a:hover, a:focus {
        color: #95a4a9;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;
        -ms-transition: color 0.2s ease;
        transition: color 0.2s ease;
    }





/*------------------------------------*\
    $MISC
    \*------------------------------------*/
    a img:hover,
    .social-icons a:hover {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
        filter: alpha(opacity=85);
        opacity: 0.85;
        -webkit-transition: opacity 0.2s ease;
        -moz-transition: opacity 0.2s ease;
        -o-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
    }

/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden
*/
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes bounceInDown {
    0% {
        -webkit-transform: translateY(-2000px);
    }

    60% {
        -webkit-transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInDown {
    0% {
        -moz-transform: translateY(-2000px);
    }

    60% {
        -moz-transform: translateY(30px);
    }

    80% {
        -moz-transform: translateY(-10px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes bounceInDown {
    0% {
        -o-transform: translateY(-2000px);
    }

    60% {
        -o-transform: translateY(30px);
    }

    80% {
        -o-transform: translateY(-10px);
    }

    100% {
        -o-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        transform: translateY(-2000px);
    }

    60% {
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;
}





/*------------------------------------*\
    $MOBILE
    \*------------------------------------*/
    @media handheld, only screen and (max-width: 720px) {
        .avatar,
        .content {
            float: none;

        }

        .avatar img {
            max-width: 125px;
            max-height: 125px;
        }

        .content {
            width: 100%;
        }
    }

    .slogan {
        font-size: 15px;
    }

    .ido-code {
        background: #272822;
        padding: 10px;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
        -moz-box-shadow: rgba(0,0,0,.3) 0 3px 5px;
        border-color: #a2a2a2\9;
        font-weight: initial;
    }

    .ido-code .light-blue {
        color: #66d9ef;
    }

    .ido-code .dark-pink {
        color: #f92672;
    }

    .ido-code .white-bone {
        color: #f8f8f2;
    }

    .ido-code .yellow-mustard {
        color: #e6db74;
    }